#title {
    color:whitesmoke;
    text-align:center
}

ol {
    color: black;
    font-size: large;
}

#background {
    background-color: rgba(255, 255, 255, 0.105);
    text-align: center;
    width: 50%;
    box-shadow: 0 0 10px 1px rgb(172, 173, 174);
    border-radius:25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }