body {
    display: grid;
    grid-template: 'head' 'map' 1fr / auto;
}
  
main {
    grid-area: map;
} 
  
.map, #map {
    width: 80%;
    height: 40%;
    position: relative;
    left: 20px;
    bottom: 100px;
    margin-left: 5em; 
    margin-bottom:5em;  
    border: 3px solid #000000; 
    padding-bottom: 500px;
}