body {
    display: grid;
    grid-template: 'head' 'map' 1fr / auto;
}
  
main {
    grid-area: map;
}
  
.map, #map {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 120px;
    left: 10px;
    margin: 1em;
    float:bottom;
}