
.accountinfo {
    color: black;
  }

#textbox {
  margin: auto;
  width: 40%;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgba(75, 73, 73, 0.3);
  padding: 10px;
  font-weight: 500;
  font-size: large;
  color: whitesmoke;
  border-radius:25px;
  text-align: center;
  margin-top: 100px;
}