{% extends 'base.html' %}
{% block title %} Hike Details {% endblock %}

{% block head %}

    <link rel="stylesheet" href="/static/css/maps.css"/>
    <link rel="stylesheet" href="/static/css/nav.css"/>
    <link rel="stylesheet" href="/static/css/button.css"/>

    <script src="/static/js/map.js"></script>
    <script
        async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASNt2Nea-LEziQB8l1cISuuz3Fkc8eZ7A&callback=initMap">
    </script>

    <div class='topnav'>
        <a class='active' href='/logout'>Logout</a>
        <a href='/profile'>Home</a>
        <a href='/hike'>Hikes</a>
        <a href='/nationalparks'>National Parks</a>
        <a href='/newhike'>States</a>
    </div>
{% endblock %}

{% block body %} 


    
      <div id="map" data-lng={{coordinates['lng']}} data-lat={{coordinates['lat']}}></div>
    


<div>
<form action='/savehike' method='POST'>
        <h1>Hike Details:</h1>
            {% for hike in hike_details %}
                <p><h3>Trail Name: {{hike.hike_name}}</h3></p>
                <h3>Length : {{hike.length}}ft | Difficulty Rating (out of 5): {{hike.difficulty_rating}}   | Average User Rating: {{hike.avg_rating}} stars</h3>
                <input hidden name='hike_id' value='{{hike.hike_id}}'></input>
            {% endfor %}
                <button type="submit" value="Save To Favorites" >Save</button>
    </div>
</form>

{% endblock %}
