{% extends 'base.html' %}
{% block title %} Log In {% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/signin.css"/>
<link rel="stylesheet" href="/static/css/logo.css"/>

{% endblock %}

{% block body %}

<img src="./static/img/RoadTripper.jpg" class="logo">
    
    <h1 style='text-align:center' id= 'intro' >Welcome to RoadTripper!</h1><br><br>

    <div style='text-align:center'>
    <form id ='login' action='/login' method='POST'>
        <div class="form-group">
          <label id = 'username' name='username' for="username">Username</label>
          <input id='username' type='text' name='username' class="form-control" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="passord">Password</label>
          <input id='password' name='password' type="password" class="form-control" placeholder="Password">
        </div><br>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form><br>
      <a href='/register' style='color:black'>New User? Create an Account Today! </a>
    </div>
    


{% endblock %}