{% extends 'base.html' %}
{% block title %} Log In {% endblock %}

{% block body %}
    <!-- <h1 style='text-align:center' id= intro >Welcome to RoadTripper!</h1><br><br> -->
    <div style='text-align:center'>
        <form id ='login' action='/login' method='POST'> 
            <label><strong>Username:</strong></label><br>
            <input id= 'username' type='text' name='username'><br><br>
            <label><strong>Password:</strong></label><br>
            <input id= 'password' type='password' name='password'><br><br>
            <input type='submit' value='Login'><br><br>
            <a href='/register' style='color:black'>Create Account</a>
        </form> <br>
        <img id='center' width='400em' src="../static/img/RoadTripper.jpg" /><br>  
    </div>

{% endblock %}