{% extends 'base.html' %}
{% block title %} Hikes {% endblock %}

{% block head %}

<link rel="stylesheet" href="/static/css/nav.css"/>
<link rel="stylesheet" href="/static/css/button.css"/>

<div class="topnav">
  <a class="active" href='/logout'>Logout</a>
  <a href='/profile'>Home</a>
  <a>Let's Find a Hike </a>
</div>

{% endblock %}

{% block body %} 
    <form action= '/hikes'>
    <label for="national_park"><strong><h2>Choose a National Park to Visit:</h2></strong></label>

    <select name="national_park" id="national_park">
    {% for national_park in national_parks %}
      <option value='{{national_park}}'>{{national_park}}</option>
    {% endfor %}  
    <input type = "submit">
    </form>
    </select>
    
{% endblock %}