{% extends 'base.html' %}
{% block title %} Hikes {% endblock %}

{% block head %}

<link rel="stylesheet" href="/static/css/nav.css"/>
<link rel="stylesheet" href="/static/css/button.css"/>

<div class="topnav">
  <a class="active" href='/logout'>Logout</a>
</div>

{% endblock %}

{% block body %} 

    <h1>Let's Find a Hike</h1> 
    <form action= '/hikes'>
    <label for="national_park">Choose a National Park to Visit:</label>

    <select name="national_park" id="national_park">
    {% for national_park in national_parks %}
      <option value='{{national_park}}'>{{national_park}}</option>
    {% endfor %}  
    <input type = "submit">
    </form>
    </select>
    
{% endblock %}