{% extends 'base.html' %}
{% block title %} Title {% endblock %}

{% block head %}

<link rel="stylesheet" href="/static/css/nav.css"/>
<link rel="stylesheet" href="/static/css/button.css"/>

<div class="topnav">
    <a class="active" href='/logout'>Logout</a>
    <a href='/updateprofile'>Account Info</a>
</div>

{% endblock %}

{% block body %} 
    <h1 style='text-align:center'>Welcome Back {{current_user.fname.title()}}!</h1>
    <h1 id= intro style='text-align:center'>Let's Find Your Next Adventure</h1> 
    <div>
        <form id='button' action = '/savedhikes'>
            <button>Past Hikes</button>
        </form><br>
        <form id='button' action = '/newhike'>
            <button>Find A New Hike</button>
        </form>

    </div><br><br>

    <img id='center' width='400em' src="../static/img/RoadTripper.jpg" /><br>

{% endblock %}
