{% extends 'base.html' %}
{% block title %} Title {% endblock %}

{% block head %}

<link rel="stylesheet" href="/static/css/button.css"/>
<link rel="stylesheet" href="/static/css/profile.css"/>
<link rel="stylesheet" href="/static/css/logo.css"/>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">RoadTripper</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/accountinfo">Update Account Info</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>


{% endblock %}

{% block body %} 
<br>
<div id='intro'>
    <h1  style='text-align:center'>Welcome Back {{current_user.fname.title()}}!</h1>
    <h1  style='text-align:center'>Let's Find Your Next Adventure</h1><br><br>
</div>
        <a id='center' class="btn btn-dark btn-lg" href="/savedhikes" role="button">Favorite Hikes</a><br><br>
        <a id='center' class="btn btn-dark btn-lg" href="/newhike" role="button">Find A New Hike</a>

        <img src="./static/img/RoadTripper.jpg" class="logo">

{% endblock %}
