<!-- {% extends 'base.html' %}
{% block title %} Hikes {% endblock %}

{% block body %} 
    <h1>Let's Find a Hike</h1> 
        {% for state in states %}
        <ul><a href = ''>{{state}}</a></ul>
    {% endfor %}
{% endblock %} -->


<h1>Choose a National Park:</h1>
    {% for national_park in national_parks %}
        <ul><a name = national_park id = national_park href = '/hikes/{{national_park}}'>{{national_park}}</a></ul>



        @app.route('/hikes/<national_park>')
            def hikes(national_park):
                """get hikes from national park"""
    hikes = crud.get_hikes(national_park)
    print(hikes)
    print("*************")
    return render_template('hikes-newhike.html', national_park=national_park, hikes=hikes)